.login-container {
  height: 98vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 22px;
}

.login-second-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 2%;
}

.login-logo {
  margin-top: 22px;
  height: 122px;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.main-input-container {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: small;
}
.sing-in {
  color: rgba(71, 116, 230, 1);
}

@media only screen and (min-width: 768px) and (max-width: 1800px) {
  .login-container {
    padding-top: 8px;
  }
  .form-login-container {
    width: 600px;
    height: 100px;
  }
  .title-login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-bottom: 2%; */
  }
}
