.add-post {
  background: rgba(71, 116, 230, 1);
  color: white;
  padding: 10px 13px;
  border-radius: 55%;
  position: fixed;
  bottom: 82px;
  right: 12px;
}
.add-post:hover {
  cursor: pointer;
}
