.user-card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.user-card-subitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.user-card-subitem p {
  font-size: larger;
  font-weight: 600;
}

/* Styles for the menu */

.user-dropdown-menu {
  position: absolute;
  background: white;
  font-size: larger;
  font-weight: 600;
  padding: 0px 10px 0px 10px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.user-dropdown-menu span {
  padding: 6px;
  margin: 6px;
}
.user-dropdown-menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  text-align: left;
}
.user-dropdown-menu button:hover {
  background: #f0f0f0;
}
.user-float-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.user-float-menu-item p {
  padding: 0px;
  margin: 0px;
}
