.post-container {
  display: flex;
  flex-direction: row;
  width: 94%;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.post-name {
  font-size: 0.8rem;
  font-weight: 500;
}
.post-date {
  font-weight: 600;
}
.first-post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.post-container #complete-icon {
  height: 22px;
}
.post-container #complete-icon:hover {
  cursor: pointer;
}

.interaction-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 1800px) {
  .post-name {
    font-size: 0.9rem;
  }
}
