.posts-lists {
  scroll-behavior: smooth;
}
.filter-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
#date {
  font-size: larger;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px;
  background: rgba(236, 236, 236, 0.541);
  border: none;
}
#date:focus {
  outline: none;
}
.date-button {
  font-size: medium;
  font-weight: 600;
  color: white;
  background: rgb(111, 154, 194);
  border: none;
  border-radius: 8px;
}
