.subleader-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.subleader-item:hover {
  cursor: pointer;
}

.leader_name {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 1800px) {
  .leader_name {
    font-size: 1.3rem;
  }
}
