.desktop-menu-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;

  border-radius: 10px;
  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
}

.desktop-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.desktop-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: black;
}

.destop-menu-links {
  padding: 12px;
  text-decoration: none;
}

.desktop-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-menu-item p {
  text-decoration: none;
}